.back {
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.1)) !important;
  filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.1)) !important;
}


/* Image Filters */
.blur {
  filter: 
}

.brightness {
  
}