$mobile: 425px;
$desktop: 768px;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$color-eggshell: #fffff9;
$color-purple: #334;
$color-turqoise: #49a;
$color-lightblue: #09f;
$color-blue: #06c;
$color-puregrey: #ccc;
$color-grey: #445;
$color-black: #222;

$c1: 100%;
$c2: 50%;
$c3: 33.333%;
$c4: 25%;
$c5: 20%;
$c6: 16.667%;
$c7: 14.285%;
$c8: 12.5%;
$c9: 11.111%;
$c10: 10%;
$c11: 9.09%;
$c12: 8.333%;

$size-100: 100%;
$size-10: 1024px;
$size-9: 960px;
$size-8: 800px;
$size-7: 768px;
$size-6: 640px;
$size-5: 540px;
$size-4: 480px;
$size-3: 320px;
$size-2: 240px;
$size-1: 100px;