@import '_vars';

input {
  border: 1px solid $color-black;
  min-height: 2em;
  border-radius: 0.25em;
  margin: 0.5em 0.1em;
  padding: 0.25em 1em;
}

.button,
button,
input[type="button"],
input[type="submit"] {
  background-color: $color-blue;
  border: none;
  padding: 1em 2em;
  margin: 0.5em;
  color: white;
  border-radius: 0.25em;
  &:active {
    background-color: $color-lightblue;
    color: $color-puregrey;
  }
}


a {
  text-decoration: none;
  color: $color-grey;
  &:hover {
    color: $color-turqoise;
  }
}